.bouton-aller-gauche {
  background: linear-gradient(180deg, rgb(54, 184, 234) 0%, rgb(21.25, 114.75, 255) 100%);
  border-radius: 34px;
  height: 68px;
  position: relative;
  width: 68px;
}

.bouton-aller-gauche .polygon {
  height: 34px;
  left: 15px;
  position: absolute;
  top: 17px;
  width: 28px;
}

.bouton-aller-gauche.property-1-hover {
  box-shadow: 2px 4px 4px #00000040;
}
