.PC-x {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.PC-x .div-2 {
  background-color: #ffffff;
  height: 2510px;
  position: relative;
  width: 1440px;
}

.PC-x .footer-instance {
  left: 0 !important;
  position: absolute !important;
  top: 2248px !important;
}

.PC-x .header-instance {
  background-color: transparent !important;
  left: 0 !important;
  position: absolute !important;
  top: 15px !important;
}

.PC-x .overlap-2 {
  border-radius: 10px;
  height: 489px;
  left: 32px;
  position: absolute;
  top: 1695px;
  width: 1376px;
}

.PC-x .background-2 {
  background-color: #f6fcff;
  border: 1px solid;
  border-color: #cfd4d7;
  border-radius: 10px;
  box-shadow: 2px 4px 4px #00000040;
  height: 489px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1376px;
}

.PC-x .bloc-catalogue {
  height: 457px;
  left: 712px;
  position: absolute;
  top: 16px;
  width: 650px;
}

.PC-x .overlap-3 {
  border-radius: 19px;
  height: 457px;
  position: relative;
  width: 648px;
}

.PC-x .overlap-group-wrapper {
  background-color: #f7a816;
  border-radius: 19px;
  height: 457px;
  left: 0;
  position: absolute;
  top: 0;
  width: 648px;
}

.PC-x .dgrad-blanc-wrapper {
  background-image: url(../../../static/img/amalfi-1.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 449px;
  width: 640px;
}

.PC-x .dgrad-blanc {
  background-color: #f6fcff;
  border-radius: 19px 19px 0px 0px;
  box-shadow: 2px 4px 4px #00000040;
  height: 150px;
  opacity: 0.9;
}

.PC-x .flexcontainer {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 14px;
  height: 80px;
  left: 139px;
  position: absolute;
  top: 36px;
  width: 392px;
}

.PC-x .text {
  align-self: stretch;
  color: #000000;
  font-family: "Reem Kufi", Helvetica;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  text-shadow: 2px 2px 2px #00000040;
}

.PC-x .span {
  color: #000000;
  font-family: "Reem Kufi", Helvetica;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0;
}

.PC-x .bouton-pages-instance {
  left: 282px !important;
  position: absolute !important;
  top: 316px !important;
}

.PC-x .bouton-catalogue-instance {
  left: 197px !important;
  position: absolute !important;
  top: 363px !important;
}

.PC-x .bloc-actualits {
  height: 457px;
  left: 16px;
  position: absolute;
  top: 16px;
  width: 650px;
}

.PC-x .div-wrapper {
  background-color: #36b8ea;
  border-radius: 19px;
  height: 457px;
  left: 0;
  position: absolute;
  top: 0;
  width: 648px;
}

.PC-x .overlap-group-3 {
  background-image: url(../../../static/img/image-2.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 449px;
  left: 8px;
  position: relative;
  width: 640px;
}

.PC-x .dgrad-blanc-2 {
  background-color: #f6fcff;
  border-radius: 19px 19px 0px 0px;
  box-shadow: -2px 4px 4px #00000040;
  height: 150px;
  opacity: 0.9;
}

.PC-x .flexcontainer-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 14px;
  height: 86px;
  left: 132px;
  position: absolute;
  top: 32px;
  width: 392px;
}

.PC-x .span-wrapper {
  align-self: stretch;
  color: #2f2f2f;
  font-family: "Reem Kufi", Helvetica;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
}

.PC-x .text-wrapper-5 {
  color: #2f2f2f;
  font-family: "Reem Kufi", Helvetica;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0;
}

.PC-x .design-component-instance-node {
  left: 282px !important;
  position: absolute !important;
  top: 315px !important;
}

.PC-x .bouton-actualits {
  left: 198px !important;
  position: absolute !important;
  top: 363px !important;
}

.PC-x .bloc-crations {
  height: 456px;
  left: 32px;
  position: absolute;
  top: 1191px;
  width: 1376px;
}

.PC-x .overlap-4 {
  height: 456px;
  position: relative;
}

.PC-x .images-2 {
  background-color: #e5328b;
  border-radius: 19px;
  height: 456px;
  left: 32px;
  position: absolute;
  top: 0;
  width: 1312px;
}

.PC-x .overlap-group-4 {
  background-image: url(../../../static/img/image-1.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 448px;
  width: 1304px;
}

.PC-x .dgrad-blanc-3 {
  background-color: #f6fcff;
  border-radius: 19px 19px 0px 0px;
  box-shadow: 2px 4px 4px #00000040;
  height: 173px;
  opacity: 0.9;
}

.PC-x .texte {
  height: 109px;
  left: 316px;
  position: absolute;
  top: 32px;
  width: 711px;
}

.PC-x .nom-du-jeu-SUPER {
  color: #2f2f2f;
  font-family: "Reem Kufi", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 58px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 49px;
  width: 605px;
}

.PC-x .QUELQUES-CR-ations {
  color: #2f2f2f;
  font-family: "Reem Kufi", Helvetica;
  font-size: 24px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 707px;
}

.PC-x .boutons {
  height: 226px;
  left: 0;
  position: absolute;
  top: 190px;
  width: 1376px;
}

.PC-x .bouton-c-est-parti-instance {
  left: 385px !important;
  position: absolute !important;
  top: 159px !important;
  width: 607px !important;
}

.PC-x .bouton-c-est-parti-2 {
  width: 602px !important;
}

.PC-x .bouton-c-est-parti-3 {
  left: 224px !important;
}

.PC-x .bouton-aller-gauche-instance {
  left: 0 !important;
  position: absolute !important;
  top: 6px !important;
}

.PC-x .bouton-aller-droite-instance {
  left: 1308px !important;
  position: absolute !important;
  top: 0 !important;
}

.PC-x .bouton-pages-2 {
  left: 646px !important;
  position: absolute !important;
  top: 120px !important;
}

.PC-x .bloc-IA {
  height: 489px;
  left: 32px;
  position: absolute;
  top: 654px;
  width: 1376px;
}

.PC-x .overlap-5 {
  height: 489px;
  position: relative;
}

.PC-x .images-3 {
  height: 489px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1376px;
}

.PC-x .overlap-group-5 {
  border-radius: 10px;
  height: 489px;
  position: relative;
}

.PC-x .background-3 {
  background-color: #f6fcff;
  border: 1px solid;
  border-color: #ced3d6;
  border-radius: 10px;
  box-shadow: 2px 4px 4px #00000040;
  height: 489px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1376px;
}

.PC-x .fond-jaune {
  background-color: #f7a816;
  border-radius: 19px;
  height: 457px;
  left: 16px;
  position: absolute;
  top: 16px;
  width: 724px;
}

.PC-x .image {
  height: 449px;
  left: 24px;
  object-fit: cover;
  position: absolute;
  top: 16px;
  width: 716px;
}

.PC-x .bouton-lire-l {
  height: 67px;
  left: 756px;
  position: absolute;
  top: 406px;
  width: 294px;
}

.PC-x .LIRE-l-article-wrapper {
  background: linear-gradient(180deg, rgb(54, 184, 234) 0%, rgb(21.25, 114.75, 255) 100%);
  border-radius: 33.5px;
  height: 67px;
  position: relative;
  width: 292px;
}

.PC-x .LIRE-l-article {
  color: #ffffff;
  font-family: "Reem Kufi", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 54px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-shadow: 2px 2px 2px #00000040;
  top: 16px;
}

.PC-x .texte-2 {
  height: 326px;
  left: 756px;
  position: absolute;
  top: 16px;
  width: 608px;
}

.PC-x .article {
  color: #2f2f2f;
  font-family: "Reem Kufi", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 3px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: justify;
  top: 56px;
  width: 601px;
}

.PC-x .titre {
  color: #2f2f2f;
  font-family: "Reem Kufi", Helvetica;
  font-size: 32px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 371px;
}

.PC-x .comment-a-marche {
  height: 148px;
  left: 242px;
  position: absolute;
  top: 466px;
  width: 957px;
}

.PC-x .IMAGINEZ {
  height: 104px;
  left: 0;
  position: absolute;
  top: 44px;
  width: 106px;
}

.PC-x .icon-cloud-wrapper {
  background-color: #ffffff66;
  border: 1px solid;
  border-color: #e5328b;
  border-radius: 34px;
  box-shadow: 2px 2px 2px #00000040;
  height: 68px;
  left: 18px;
  position: absolute;
  top: 0;
  width: 68px;
}

.PC-x .icon-cloud {
  height: 41px;
  left: 6px;
  position: absolute;
  top: 13px;
  width: 57px;
}

.PC-x .text-wrapper-6 {
  color: #2f2f2f;
  font-family: "Reem Kufi", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-shadow: 2px 2px 2px #00000040;
  top: 74px;
}

.PC-x .CREEZ {
  height: 104px;
  left: 302px;
  position: absolute;
  top: 44px;
  width: 70px;
}

.PC-x .group-wrapper {
  background-color: #ffffff66;
  border: 1px solid;
  border-color: #e5328b;
  border-radius: 34px;
  box-shadow: 2px 2px 2px #00000040;
  height: 68px;
  left: 0;
  position: absolute;
  top: 0;
  width: 68px;
}

.PC-x .group {
  height: 42px;
  left: 12px;
  position: absolute;
  top: 13px;
  width: 45px;
}

.PC-x .RECEVEZ {
  height: 104px;
  left: 573px;
  position: absolute;
  top: 44px;
  width: 98px;
}

.PC-x .icon-truck-fast-wrapper {
  background-color: #ffffff66;
  border: 1px solid;
  border-color: #e5328b;
  border-radius: 34px;
  box-shadow: 2px 2px 2px #00000040;
  height: 68px;
  left: 13px;
  position: absolute;
  top: 0;
  width: 68px;
}

.PC-x .icon-truck-fast {
  height: 39px;
  left: 13px;
  position: absolute;
  top: 15px;
  width: 45px;
}

.PC-x .PROFITEZ {
  height: 104px;
  left: 855px;
  position: absolute;
  top: 44px;
  width: 102px;
}

.PC-x .icon-emoji-happy-wrapper {
  background-color: #ffffff66;
  border: 1px solid;
  border-color: #e5328b;
  border-radius: 34px;
  box-shadow: 2px 2px 2px #00000040;
  height: 68px;
  left: 15px;
  position: absolute;
  top: 0;
  width: 68px;
}

.PC-x .icon-emoji-happy {
  height: 42px;
  left: 13px;
  position: absolute;
  top: 13px;
  width: 45px;
}

.PC-x .text-wrapper-7 {
  color: #2f2f2f;
  font-family: "Reem Kufi", Helvetica;
  font-size: 24px;
  font-weight: 600;
  left: 331px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-shadow: 2px 2px 2px #00000040;
  top: 0;
}

.PC-x .bannire-CTA {
  height: 159px;
  left: 256px;
  position: absolute;
  top: 178px;
  width: 928px;
}

.PC-x .CR-ez-VOTRE-PROPRE {
  color: #2f2f2f;
  font-family: "Reem Kufi", Helvetica;
  font-size: 40px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
}

.PC-x .bouton-c-est-parti-4 {
  border-radius: 50px;
  height: 67px;
  left: 171px;
  position: absolute;
  top: 92px;
  width: 586px;
}

.PC-x .overlap-group-6 {
  border-radius: 33.5px;
  height: 68px;
  left: 3px;
  position: relative;
  width: 581px;
}

.PC-x .fond {
  background: linear-gradient(180deg, rgb(54, 184, 234) 0%, rgb(21.25, 114.75, 255) 100%);
  border-radius: 33.5px;
  height: 68px;
  left: 0;
  position: absolute;
  top: 0;
  width: 581px;
}

.PC-x .c-EST-PARTI-2 {
  color: #ffffff;
  font-family: "Reem Kufi", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 216px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-shadow: 2px 2px 2px #00000040;
  top: 15px;
}
